/* mobile screens */
@media only screen and ( max-width: 550px ) {
    .introDivStyle {
        width: 90%;
        margin: auto;
    }
    .introDivStyle>div { 
        text-align: start;
        padding-bottom: 1rem;
    }
    .skillGrid {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: auto auto;
    }
    
}
/* large screens */
@media only screen and ( min-width: 1001px ) {
    .introDivStyle {
        position: relative;
        width: 70%;
        height: 90%;
        margin: auto;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        
    }
    .introDivStyle>div { 
        text-align: start;
        padding-bottom: 1rem;
    }
    .borderLeftTop {
        position: absolute;
        background-color: black;
        border-radius: 5px;
        box-shadow: 2px 0 5px slategray;
        width: 4px;
        height: 90%;
        left: -5%;
    }
    .introDivStyle:hover .borderLeftTop {
        box-shadow: 1px 0 5px red;
    }
    .skillGrid {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: auto auto;
    }
    
}