/*  mobile */
@media only screen and ( max-width: 550px ) {}

    /* tablet */
@media only screen and ( min-width: 550px ) and ( max-width: 1000px ) {
    .displayContantContainer {
        border: 3 px solid red;
    }
}

    /* screen */
@media only screen and ( min-width: 1001px ) {
    .displayContantContainer {
        height: 100%;
        margin: auto;
        position: relative;
    }

}