    /*  mobile */
@media only screen and ( max-width: 500px ) {   
     /* main screen  */
    .bodyStyle { 
        height: 100%;
        width: 100%;
        display: grid;
        grid-template: 
        'header nav'
        'switch switch'; 
        grid-template-rows: 0.2fr 1fr;
        grid-template-columns: 0.9fr auto ;

    }
    .mobileScreenSwitch {
        grid-area: switch;
    }
    .largeDisplay {
        display: none;
    }
    /* header */
    .headerStyle {
        grid-area: header;

    }
    .navDivStyle {
        grid-area: nav;
        padding-top: 1rem;

    }
    /* bottom screen part */
    .mobileSwitchTop {
        margin-top: 2rem;
        display: grid;
        grid-template-rows: auto auto;
        gap: 5px;

    }
    .hiDivStyle {
        display: flex;
        flex-direction: column;
        padding: 10px;

    }
    .hiDivStyle p { 
        text-align: left;
    }
    /* img styling */
    .profilePicStyle {
        height: 15rem;
        width: 15rem;
        border-radius: 15%;
        filter: grayscale(100%);
    }
    .dipalyDivStyle {
        display: none;

    }

}

    /* tablet */
@media only screen and ( min-width: 500px ) and ( max-width: 1000px ) {
    .bodyStyle { 
        height: 100%;
        display: grid;
        grid-template: 
            'header nav'
            'topSwitch topSwitch';
        grid-template-rows: 0.5fr auto;
        grid-template-columns: auto 0.15fr ;

    }
    .largeDisplay {
        display: none;
    }
    .headerStyle {
        grid-area: header;
        border: 5px solid green;

    }
    .navDivStyle {
        grid-area: nav;
        border: 5px solid red;

    }
    .mobileSwitchTop {
        display: grid;
        grid-area: topSwitch;
        grid-template: 'hi pic';
        gap: 5px;
        border: 6px solid white;
    }
    .hiDivStyle {
        grid-area: hi;
        border: 5px solid blue;

    }
    .picDivDivStyle {
        grid-area: pic;
        border: 3px solid red;

    }
    .profilePicStyle {
        height: 15rem;
        width: 15rem;
        border-radius: 5%;
        filter: grayscale(100%);
    }

}

    /* screen */
@media only screen and ( min-width: 1001px ) {
    /* display styling */
    .bodyStyle { 
        margin: auto;
        padding: 1%;
        height: 90%; 
        width: 90%;
        position: relative; 
        display: grid;
        grid-template: 
            'header nav' 
            'bottomDisplay bottomDisplay';
        grid-template-rows: 20% 75%;
        grid-template-columns: auto 35%;
        gap: 2%;

    }
    .largeDisplay {
        grid-area: bottomDisplay;
        height: 100%;
        display: grid;
        grid-template: 
        'info displayWindow'
        'pic displayWindow';
        grid-template-rows: auto auto;
        grid-template-columns: 30% 70%;
    }

    .headerStyle {
        grid-area: header;
        border: 1px solid black;
                
    }
    .headerSubStyle div {
        width: 40%;
    }
    .headerName {
        font-size: 3rem;
        margin-left: 1rem;
        
    }
    .headerDiscription {
        font-size: 2rem;
        margin-left: 1rem;
    }
    .navDivStyle {
        grid-area: nav;
        border: 1px solid blue;

    }
    .hiDivStyle {
        grid-area: info;

    }
    .picDivDivStyle {
        grid-area: pic;

    }
    .dipalyDivStyle {
        grid-area: displayWindow;

    }
    .profilePicStyle {
        height: 15rem;
        width: 15rem;
        border-radius: 5%;
        filter: grayscale(100%);
    }
    .mobileScreenSwitch { 
        display: none;
    }

}