.carouselContainer {
    border: 2px solid black;
    --carousel-height: 500px;
    --carousel-width: 1000px;
    --carousel-item-height: 25rem;
    --carousel-item-width: 20rem;
  
    width: 100%;

}

.carousel {
    display: flex;
    position: relative;
    width: 100%;
    height: var(--carousel-height);
    justify-content: center;
    align-items: center;
    perspective: 50rem;
    border: 1px solid red;

}
#carousel_item {
    height: var(--carousel-item-height);
    width: var(--carousel-item-width);
    position: absolute;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
}

div.item_1 {
    background: linear-gradient(270deg, #b9b9b9 10%, #797979 100%);
    z-index: 4;
    opacity: 1;
    color: red;
    transform: translateX(-25%) translateY(2%);
    
}
div.item_2 {
    background: linear-gradient(270deg, #b9b9b97e 10%, #79797977 100%);
    opacity: 0.8;
    filter: blur(1px) grayscale(30%);
    transform: translateX(15%) translateY(2%);
    z-index: 3;
    color: green;
}
div.item_3 {
    background: linear-gradient(270deg, #b9b9b97e 10%, #79797977 100%);
    opacity: 0.6;
    filter: blur(2px) grayscale(40%);
    transform: translateX(30%) translateY(4%);
    z-index: 3;
    color: blue;

}
.item_4 {
    background: linear-gradient(270deg, #b9b9b97e 10%, #79797977 100%);
    transform: translateX(50%) translateY(6%);
    filter: blur(2px) grayscale(40%);
    opacity: 1;
    z-index: 3;

}