.carouselContainer {
    --carousel-height: 500px;
    --carousel-width: 1000px;
    --carousel-item-height: 25rem;
    --carousel-item-width: 20rem;
  
    width: 100%;

}

.carousel {
    border: 5px solid gold;
    display: flex;
    position: relative;
    width: 100%;
    height: var(--carousel-height);
    justify-content: center;
    align-items: center;

}

.carousel_item {
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
    font-size: 30px;
    border-radius: 10px;
    height: 400px;
    width: 250px;
    position: absolute;
    transition: all 2s linear;
    /* transform-style: preserve-3d; */

}
.carousel_item:hover { 
    color: red;

}

.item_1 {
    background: linear-gradient(270deg, #a3a3a398 10%, #94949483 100%);
    z-index: 4;
    opacity: 1;
    transform: scale(1);
    border: 1.5px solid rgba(0, 0, 0, 0.459);
    transition: all 2s linear;

}
.item_2 {
    display: flex;
    align-items: flex-start;
    background: linear-gradient(#868686a2, #797979 50%);
    opacity: 0.6;
    transform: translateX(-50%) translateY(-15%) scale(0.7) ;
    z-index: 3;
    border: 1px solid black;

}
.item_3 {
    display: flex;
    justify-content: end;
    background: linear-gradient(#868686a2, #797979 50%);
    opacity: 0.6;
    border: 1px solid black;
    transform: translateX(50%) translateY(15%) scale(0.7);
    z-index: 2;

}
.cell_item_1 {
    /* border: 3px solid red; */
    height: 400px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cell_item_2 {
    display: flex;
    justify-content: start;
    /* align-items: center; */
    border: 3px solid red;
}

.item_1 img[class$='picStyle'] { 
    height: calc(var(--carousel-item-height) - 120px );
    width: calc(var(--carousel-item-width) - 120px );
    border-radius: 5%;
    object-fit: contain;
}
.item_2 img[class$='picStyle'] {
    display: none;
}
.item_3 img[class$='picStyle'] {
    display: none;
}