@media only screen and ( max-width: 550px ) {
    .carouselContainer {
        height: 600px;

    }
    .carousel {
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    
    }
    .carousel_item {
        box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
        font-size: 30px;
        border-radius: 10px;
        height: 350px;
        width: 250px;
        position: absolute;
        transition: all 3s linear;
        display: flex;
        justify-content: center;
        align-items: center;
        /* transform-style: preserve-3d; */
    
    }
    .item_1 {
        background: linear-gradient(270deg, #a3a3a3d3 10%, #949494c4 100%);
        z-index: 4;
        opacity: 1;
        /* transform: scale(1); */
        border: 1.5px solid rgba(0, 0, 0, 0.459);
        transition: all 2s linear;
    
    }
    .item_2 {
        background: linear-gradient(#868686a2, #797979 50%);
        opacity: 0.6;
        transform: translateX(-40%) translateY(-40%) scale(0.6);
        z-index: 3;
        border: 1px solid black;
        transition: 2s linear;
    
    }
    .item_3 {
        background: linear-gradient(#868686a2, #797979 50%);
        opacity: 0.6;
        border: 1px solid black;
        transition: 2s ease-out;    
        transform: translateX(40%) translateY(40%) scale(0.6);
        z-index: 2;
    
    }
    .cell_item_1 {
        height: 90%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cell_item_2 {
        height: 90%;
        width: 90%;
        display: flex;
        justify-content: start;
        align-items: flex-start;
    }
    .cell_item_3 {
        height: 90%;
        width: 90%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    
    }
    .cell_item_1 img[class$='picStyle'] { 
        height: 100%;
        width: 100%;
        border-radius: 5%;
        object-fit: contain;
        transition: 3s;
    }
    .cell_item_2 img[class$='picStyle'] {
        display: none;
        transition: 3s;
    }
    .cell_item_3 img[class$='picStyle'] {
        display: none;
    }
}

/* large screens */
@media only screen and ( min-width: 1001px ) {
    .carouselContainer {
        --carousel-height: 500px;
        --carousel-width: 1000px;
        --carousel-item-height: 25rem;
        --carousel-item-width: 20rem;
      
        width: 100%;
    
    }
    
    .carousel {
        display: flex;
        position: relative;
        width: 100%;
        height: var(--carousel-height);
        justify-content: center;
        align-items: center;
    
    }
    
    .carousel_item {
        box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
        font-size: 30px;
        border-radius: 10px;
        height: 400px;
        width: 250px;
        position: absolute;
        transition: all 3s linear;
        display: flex;
        justify-content: center;
        align-items: center;
        /* transform-style: preserve-3d; */
    
    }
    /* .carousel_item:hover { 
        color: red;
    
    } */
    
    .item_1 {
        background: linear-gradient(270deg, #a3a3a398 10%, #94949483 100%);
        z-index: 4;
        opacity: 1;
        transform: scale(1);
        border: 1.5px solid rgba(0, 0, 0, 0.459);
        transition: all 2s linear;
    
    }
    .item_2 {
        background: linear-gradient(#868686a2, #797979 50%);
        opacity: 0.6;
        transform: translateX(-50%) translateY(-15%) scale(0.7);
        z-index: 3;
        border: 1px solid black;
        transition: 2s linear;
    
    }
    .item_3 {
        background: linear-gradient(#868686a2, #797979 50%);
        opacity: 0.6;
        border: 1px solid black;
        transition: 2s ease-out;    
        transform: translateX(50%) translateY(15%) scale(0.7);
        z-index: 2;
    
    }
    .cell_item_1 {
        height: 360px;
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cell_item_2 {
        height: 360px;
        width: 220px;
        display: flex;
        justify-content: start;
        align-items: flex-start;
    }
    .cell_item_3 {
        height: 360px;
        width: 220px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    
    }
    
    .cell_item_1 img[class$='picStyle'] { 
        height: calc(var(--carousel-item-height) - 120px );
        width: calc(var(--carousel-item-width) - 120px );
        border-radius: 5%;
        object-fit: contain;
        transition: 3s;
    }
    .cell_item_2 img[class$='picStyle'] {
        display: none;
        transition: 3s;
    }
    .cell_item_3 img[class$='picStyle'] {
        display: none;
    }
}
