/* .tikTackToe {
    align-items: center;
    width: 20rem;
    margin: auto;
    text-align: center;
    display: block;
    
} */
/* @media screen and ( min-width: 550px ) {
    table { box-shadow: 2px 2px 2px 2px #888888; }
} */
@media screen and ( max-width: 450px ) {
    .tikTackToe { margin-top: 10%; }
    .gameContainer { margin-top: 2rem; }
    table { border: none; box-shadow: none; }
    td[class^= 'cellI_1'], td[class^= 'cellI_2'] { border-top: 1px solid white; }
    td[class$= '0'], td[class$= '1'] { border-right: 1px solid white; }
    /* input { background-color: rgb(53, 53, 53); color: white; } */
    input { background-color: rgb(41, 40, 40); outline: none; border: none; color: white; }

    .bottomDiv { margin-top: 2rem; margin-bottom: 1rem; padding: 5px; }
    .newGameButton { border: 0.5px solid white; width: 8rem; margin: auto; padding: 5px; }
    .newGameButton:active { border: none; padding: 6px; }
}

/* larger screens */
@media screen and ( min-width: 1001px ) {
    .mainDiv {
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .tikTackToe {
        display: grid;
        height: 500px;
        width: 500px;
        grid-template: 1fr 1fr 6fr / 1fr;
    }
    .scoreStyle {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .bottomDiv {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* game borad styling */
    .gameFaceContainer {
        background-color: rgba(19, 19, 19, 0.274);
        border-radius: 10px;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 100%;
    }
    .cellContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cells {
        background-color: rgba(61, 61, 61, 0.096);
        border-radius: 10px;
        height: 80%;
        width: 80%;
        
    }
    div[class*='col_1'], div[class*='col_2'] {
        border-right: 1px solid black;
    }
    div[class*='col_2'], div[class*='col_3'] {
        border-left: 1px solid black;
    }
    div[class*='row_1'], div[class*='row_2'] {
        border-bottom: 1px solid black;
    }
    div[class*='row_2'], div[class*='row_3'] {
        border-top: 1px solid black;
    }
    .columns { 
        display: grid;
        grid-template-rows: repeat(3, 1fr);
    }
    
}

/* .mainDiv {
    align-items: center;
    display: block; 
} */

/* .scoreStyle {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
} */
/* .scoreStyle div {
    flex: 1;
} */

/* table {
    box-shadow: 2px 2px 2px 2px #888888;
    height: 250px;
    width: 250px;
    margin: auto;
}

input {
    height: 50px;
    width: 50px;
    padding: 0%;
    margin: 0%;
    text-align: center;
    font-size: 40px;
    border: none;
    outline: none;

} */