@media only screen and ( max-width: 500px ) {
    .projectDisplayContainer {
        height: 100%;
        display: flex;
        flex-direction: column;

    }
    .projectDisplayWindow {
        flex: 10;

    }
    .projectNavigation {
        margin-top: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex: 1;
    
    }
    .linkStyle {
        border: 2px solid rgb(22, 22, 22);
        border-radius: 10px;
        padding: 1rem;
        color: red;
    }
    .linkStyle:hover, .linkStyle:active {
        border: 2px solid red;
        color: black;
        animation-name: colorChange;
        animation-duration: 1s;
    }
    @keyframes colorChange {
        /* 0% { border: 2px solid black; color: red; }
        25% { border-bottom: 2px solid red; color: red;}
        50% { border-left: 2px solid red; color: red }
        75% { border-right: 2px solid red; color: red }
        100% { border: 2px solid red; color: black; } */
        0% { border: 2px solid black; color: red; }
        25% { border: 2px solid red; color: red;}
        50% { border: 2px solid black; color: black; }
        75% { border: 2px solid red; color: red }
        90% { border: 2px solid black; color: red; }
        100% { border: 2px solid red; color: black; }
        
    }
    
}

@media only screen and ( min-width: 500px ) and ( max-width: 1000px ) {
    .projectDisplayContainer {
        height: 50%;
        display: flex;
        flex-direction: column;

    }
    .projectDisplayWindow {
        flex: 10;

    }
    .projectNavigation {
        margin-top: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex: 1;
    
    }
    .projectNavigation {
        border: 3px solid grey;
    }
    .linkStyle {
        border: 2px solid rgb(22, 22, 22);
        border-radius: 10px;
        padding: 1rem;
        color: red;
    }
}

@media only screen and ( min-width: 1000px ) {
    .projectDisplayContainer {
        --fontSize: calc(10px + (22 - 10) * ((100vw - 768px) / (1600 - 768)));
        /* background-image: url('../images/free-wallpapers-site-14.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
        color: black; */

        margin: auto;
        padding-top: 3rem;
        height: 100%; 
        width: 90%;

        display: grid;
        grid-template: 
        'header display'
        'nav display';
        grid-template-columns: 0.5fr 1fr;

    }
    .headerStyle {
        grid-area: header;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-left: 2rem;

    }
    .projectDisplayWindow {
        grid-area: display;

    }
    .projectNavigation {
        grid-area: nav;
        margin-top: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    
    }
    .linkStyle {
        border: 2px solid rgb(22, 22, 22);
        border-radius: 10px;
        padding: 1rem;
        /* color: red; */
    }
}