@media only screen and ( max-width: 550px ) {
    .projectDisplayContainer {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

    }
    .projectDisplayWindow {
        flex: 9;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 100%;

    }
    .projectNavigation {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #b8c8da;
        margin-bottom: 10px;
        height: 60px;
    
    }
    .linkStyle {
        /* border: 2px solid #d4e4f6; */
        /* background-color: #394857; */
        height: 40px;
        width: 40px;
        border-radius: 10px;
        /* padding: 1rem; */
        color: #23323f;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .linkStyle:hover, .linkStyle:active {
        border: 2px solid red;
        color: black;
        animation-name: colorChange;
        animation-duration: 1s;
    }
    @keyframes colorChange {
        0% { border: 2px solid black; color: red; }
        25% { border: 2px solid red; color: red;}
        50% { border: 2px solid black; color: black; }
        75% { border: 2px solid red; color: red }
        90% { border: 2px solid black; color: red; }
        100% { border: 2px solid red; color: black; }
        
    }
    
}

/* tablet */
@media only screen and ( min-width: 551px ) and ( max-width: 1000px ) {
    .projectDisplayContainer {
        display: grid;
        grid-template-rows: 90vh 10vh;

    }
    .projectDisplayWindow {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;

    }
    .projectNavigation {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #b8c8da;
        border: 3px solid #23323f;
    
    }
    .linkStyle {
        border-radius: 10px;
        color: #23323f;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .linkStyle:hover, .linkStyle:active {
        /* border: 2px solid red; */
        color: black;
        animation-name: colorChange;
        animation-duration: 1s;
    }
    @keyframes colorChange {
        0% { border: 2px solid black; color: red; }
        25% { border: 2px solid red; color: red;}
        50% { border: 2px solid black; color: black; }
        75% { border: 2px solid red; color: red }
        90% { border: 2px solid black; color: red; }
        100% { border: 2px solid red; color: black; }
        
    }
}

/* large screens */
@media only screen and ( min-width: 1001px ) {
    .projectDisplayContainer {
        --fontSize: calc(10px + (22 - 10) * ((100vw - 768px) / (1600 - 768)));
    
        margin: auto;
        height: 100%; 
        width: 85vw;

        display: grid;
        grid-template: 
        'header display'
        'nav display';
        grid-template-columns: 0.5fr 1fr;
        grid-template-rows: 20%;

    }
    .headerStyle {
        grid-area: header;
        display: flex;
        flex-direction: column;
        align-items: start;

    }
    .projectDisplayWindow {
        grid-area: display;

    }
    .projectNavigation {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #b8c8da;
        margin-bottom: 10px;
        height: 60px;
    
    }
    .linkStyle {
        /* border: 2px solid #d4e4f6; */
        /* background-color: #394857; */
        height: 40px;
        width: 40px;
        border-radius: 10px;
        /* padding: 1rem; */
        color: #23323f;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .linkStyle:hover, .linkStyle:active {
        /* border: 2px solid red; */
        color: #003351;
        /* animation-name: colorChange;
        animation-duration: 1s; */
    }
    @keyframes colorChange {
        0% { border: 2px solid black; color: red; }
        25% { border: 2px solid red; color: red;}
        50% { border: 2px solid black; color: black; }
        75% { border: 2px solid red; color: red }
        90% { border: 2px solid black; color: red; }
        100% { border: 2px solid red; color: black; }
        
    }
}

/* global */
.projectDisplayContainer {
    height: 100vh;
    user-select: none;
    background-color: #001849;
    background-repeat: repeat;
    color: #dbe1ff;
    font-family: 'Anek Devanagari', sans-serif;
    text-align: center;
}