html, body, #root {
    height: 100%;
    width: 100%;
    user-select: none;

}

#root {
    text-align: center;
    height: 100%;
    width: 100%;
    font-family: 'Anek Devanagari', sans-serif;
}

/* large screens */
@media only screen and ( min-width: 1001px ) {
    #root, html, body { 
      height: 100%;
    }
  }

/* mobile */
