html, body, #root {
    height: 100vh;
    user-select: none;
    background-color: #001849;
    background-repeat: repeat;
    color: #dbe1ff;
    font-family: 'Anek Devanagari', sans-serif;
    text-align: center;

}