@media screen and ( max-width: 450px ) {
    .displauWindowStyle { height: 100%; width: 100%; }
    .emptyTableStyle { width: 90%; height: 90%; }
    .emptyTableStyle tbody tr td { border: 1px solid white; width: 2.5rem; height: 2.5rem; }
    table { width: 100%; height: 100%; text-align: center; border: 1px solid white; }
    tr td input { width: 2.5rem; height: 2.5rem; }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
    td[class*='tr_2'], td[class*='tr_5'] {
        border-bottom: 0.15rem solid rgb(120, 120, 120);
    }
    td[class$='3'], td[class$='6']
     {
        border-left: 0.15rem solid rgb(121, 120, 120);
    }
    input {
        text-align: center;
        /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
        font-size: small;
        opacity: 0.8;
        border-radius: 5%;
        border: none;
        outline: none;
    
    } 
}

@media screen  and ( min-width: 550px ) {
    .emptyTableStyle { width: 30rem; height: 30rem; border: 1px solid black; border-collapse: collapse; }
    tr td { border: 1px solid black; }
    table {
        height: 20rem;
        width: 20rem;
        margin: auto;
        text-align: center;
    
    }
    tbody tr td input {
        width: 3rem;
        height: 3rem;
        padding: auto;    
    
    }
    input {
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: small;
        opacity: 0.5;
        border-radius: 5%;
        border: none;
        outline: none;
    
    } 
    .gameTableStyle td[class*='tr_2'], td[class*='tr_5'] {
        border-bottom: 0.15rem solid rgb(120, 120, 120);
    }
    .gameTableStyle td[class$='3'], td[class$='6']
     {
        border-left: 0.15rem solid rgb(121, 120, 120);
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    .container {
        position: fixed; /* Sit on top of the page content */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */

    }

    .scoreInputName {
        background-color: black;
        color: white;
    }
}

/* large screens */
@media only screen and ( min-width: 1001px ) {
    .sudokoCompStyle {
        height: 90%;
        display: grid;
        grid-template: 
        'mainButt mainButt mainButt timer'
        'mess mess mess submit'
        'display display display display';
        grid-template-columns: auto auto auto 15%;
        grid-template-rows: 10% 10% auto;

    }
    .gameContainer {
        grid-area: display;
        border: 5px solid green;

    }
    .startStyle {
        grid-area: mainButt;
    
    }
    .bottomStyle {
        grid-area: mess;
        border: 1px solid red;

    }
    .timerStyle { 
        grid-area: timer;
        border: 1px solid red;
        justify-content: center;

    }
    .submitStyle { 
        grid-area: submit;
        border: 1px solid red;

    }
}
