/* cellphone screens */
@media screen  and ( max-width: 550px ) {
    /* main container */
    .sudokoCompStyle {
        height: 90%;
        display: flex;
        flex-direction: column;
        border: 3px solid gold;
        
    }
    /* game face */
    .gameContainer {
        flex: 10;
        position: relative;
    }
    .startStyle {
        flex: 1;
    }
    .bottomStyle {
        flex: 1;
        /* display: none; */
    }
    .timerStyle {
        flex: 1;
    }
    .submitStyle {
        /* display: none; */
        flex: 1;
    }
    .keyboardStyle {
        flex: 1;
    }
    /* overflow styling */
    /* .overflowStyle {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        z-index: 1;
        height: 10vw;
        width: 10vw;
        flex: 10;
    }
    .overflowStyle>div {
        width: 100%;
        height: 100%;
    }
    div[class*='row3'], div[class*='row2'] {
        border-top: 2px solid black;
    }
    div[class*='row1'], div[class*='row2'] {
        border-bottom: 2px solid black;
    }
    div[class*='col1'], div[class*='col2'] {
        border-right: 2px solid black;
    }
    div[class*='col2'], div[class*='col3'] {
        border-left: 2px solid black;
    } */

    .container {
        position: fixed; /* Sit on top of the page content */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */

    }

    .scoreInputName {
        background-color: black;
        color: white;
    }
}

/* large screens */
@media only screen and ( min-width: 1001px ) {
    /* main container */
    .sudokoCompStyle {
        height: 90%;
        display: grid;
        grid-template: 
        'timer mess submit'
        'mainButt mainButt mainButt'
        'display display  display';
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 1fr 8fr;

    }
    .gameContainer {
        grid-area: display;
        display: flex;
        justify-content: center;
        position: relative;

    }
    .startStyle {
        grid-area: mainButt;
    
    }
    .bottomStyle {
        grid-area: mess;

    }
    .timerStyle {     
        grid-area: timer;
        display: flex;
        justify-content: end;
        align-items: flex-end;

    }
    .submitStyle { 
        grid-area: submit;
        display: flex;
        align-items: flex-end;
    }
    /* overflow styling */
    .overflowStyle {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        z-index: 0;
        height: 500px;
        width: 500px;
    }
    .overflowStyle>div {
        width: 100%;
        height: 100%;
    }
    div[class*='row3'], div[class*='row2'] {
        border-top: 2px solid black;
    }
    div[class*='row1'], div[class*='row2'] {
        border-bottom: 2px solid black;
    }
    div[class*='col1'], div[class*='col2'] {
        border-right: 2px solid black;
    }
    div[class*='col2'], div[class*='col3'] {
        border-left: 2px solid black;
    }
}
    

