@media screen and ( max-width: 450px ) {
    .topRowButtonsStyle {
        font-family: 'Mikes_Font';
        font-weight: bold;
        src:url('../../../assets/Lato/Lato-Bold.ttf') format('truetype');
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: stretch;
    }
    .topRowButtonsStyle div { padding: 0.7rem; }
    .diffButtonsContainer { 
        display: flex;
        margin: auto;
        justify-content: center;
        justify-items: stretch;
    }
    .diffButtons {
        font-family: 'Mikes_Font';
        src:url('../../../assets/Lato/Lato-Bold.ttf') format('truetype');
        font-size: large;
        font-weight: bold;
        background: none;
        border: none;
        color: white;
    
    }
}

/* large screens */
@media only screen and ( min-width: 1001px ) {
    @font-face {
        font-family: 'Mikes_Font';
        src:url('../../../assets/Lato/Lato-Bold.ttf') format('truetype');
      
    }
    .buttonContainer {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        transition: all 2s linear;

    }
    .topRowButtonsStyle { 
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10%;
        
    }
    .diffButtonsContainer { 
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        gap: 10%;

    }
    .diffButtons:hover {
        color: grey;
    }
    .diffButtons:active {
        color: rgb(71, 71, 71);
    }
    /* this is the 'are you sure' pop up messages styling */
    .startANewContainer {  
        height: 100%;
        width: 100%;
        display: grid;
        grid-template: 
        'sentence sentence sentence sentence sentence sentence'
        '... ... button1 button2 ... ... ';
        align-content: center;
    }
    .questionStyle {        
        grid-area: sentence;
    }
    .blinkStyle {
        font-size: 1.2rem;
        padding-left: 1%;
        animation-name: blink;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }
    @keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 0.3; }
        100% { opacity: 1; }
    }
    .clickDivOne {
        border: 3px solid black;
        border-radius: 8px;

        grid-area: button1;
        
    }
    .clickDivOne:hover {
        color: red;
    }
    .clickDivTwo { 
        border: 3px solid black;
        border-radius: 5px;

        grid-area: button2;

    }
    .clickDivTwo:hover { 
        color: red;

    }

    /* stopwatch styling */
    .numbers {
        border: 3px solid black;

        width: 100%;
        display: flex;
        gap: 4px;
        justify-content: center;
    }
    /* submit button style */
    .submitButton {
        border: 3px solid black;

        width: 100%;
    
    }
}