.bodyDivStyle {
    width: 45rem;
    height: 25rem;
    left: 5rem;
    padding-left: 3rem;

}

.bodyDivStyle div {
    width: 100%;
    text-align: left;
    color: white;

}

.displayWindowStyle {
    width: 30%;
    height: 30%;
    position: absolute;
    top: 25%;
    right: 5rem;

}

/*  nav bar style */
.MenusDivStyle {
    display: flex;
    flex-direction: row;
    width: 45rem;
    position: absolute;
    right: 6%;
    top: 6%;

}
.MenusDivStyle div {
    padding-left: 5rem;

}
.MenusDivStyle div:hover {
    color: gray;
}

.introDivStyle {
    display: flex;
    flex-direction: column;
    justify-content: left;

}
.introDivStyle p {
    width: 50%;
    text-align: left;
    margin-left: 3rem;

}

.prPicStyle {
    border-radius: 5%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    height: 15rem;
    width: 15rem;

}

.contactDivStyle {
    display: flex;
    flex-direction: column;
    justify-content: left;
    
}

.contactDivStyle p {
    width: 50%;
    text-align: left;
    margin-left: 3rem;
    
}

.skillDivStyle {
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.skillDivStyle p {
    width: 50%;
    text-align: left;
    margin-left: 3rem;

}