/* @media screen and ( min-width: 720px ) {
    .topBorderStyles { 
        position: absolute;
        z-index: 0.5;
        border-top: 8px solid white; 
        border-left: 8px solid white;
        border-radius: 5% 10% 0 10%;
        width: 10%;
        height: 20%;

    }
    .bottomBorderStyles {
        position: absolute;
        z-index: 0.5;
        border-width: 0 8px 8px 0;
        border-style: solid;
        border-radius: 0 10% 5% 10%;
        width: 10%;
        height: 20%;
        bottom: 1px;
        right: 1px;
    }

} */