@font-face {
  font-family: 'Mikes_Font';
  src:url('./assets/Lato/Lato-Regular.ttf') format('truetype');

}

/* .App {
  background-color: rgb(24, 23, 23);
  height: 100%;
  color: white;
  border: 3px solid gold;

} */

@media screen and ( min-width: 1001px ) {
  .App { 
    border: 3px solid gold; 
    background-image: url('./images/free-wallpapers-site-14.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: black;

  }
}

@media only screen and (max-width: 450px) {
  .App { background-image: none; background-color: rgb(41, 40, 40); height: 100%; width: 100%; color: white; }

}