@font-face {
  font-family: 'Mikes_Font';
  src:url('./assets/Lato/Lato-Regular.ttf') format('truetype');

}

.App {
  background-image: url('./images/free-wallpapers-site-14.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

}

@media only screen and (max-width: 450px) {
  .App { background-image: none; background-color: rgb(41, 40, 40); height: 100%; width: 100%; }

}