@media only screen and ( max-width: 500px ) {
    /* main container */
    .calc_Container {
        display: flex;
        flex-direction: column;
        margin: auto;
        height: 100%;
        width: 90%;
        border-radius: 16px;
        border: 1px solid rgba(46, 45, 45, 0.31);

    }
    .outPut {
        font-size: 100%;
    }
    .button_Box:hover, .button_Box:active {
        animation-name: buttonPress;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        /* background: rgba(255, 255, 255, 0.247);
        border-radius: 16px;
        transition: 0.1s;
        background: rgba(46, 45, 45, 0.1); */

    }
    @keyframes buttonPress {
        0% { background: rgba(46, 45, 45, 0.1); }
        50% { background: rgba(255, 255, 255, 0.247); }
        100% { background: rgba(46, 45, 45, 0.1); }

    }

}

@media only screen and ( min-width: 500px ) and ( max-width: 1000px ) {

}

@media only screen and ( min-width: 1000px ) {
    .calc_Container {
        display: flex;
        flex-direction: column;
        margin: auto;
        height: 100%;
        width: 90%;
        border-radius: 16px;
        border: 1px solid rgba(46, 45, 45, 0.31);

    }

    /*  input dispaly container */
    .displayContainer {
        height: 20%;
        margin: auto;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
        border: 1px solid red;
    
    }
}

/* input styling */
.outPut {
    width: 100%;
	padding: 2%;
	text-align: right;
    color: rgb(255, 255, 255);
    background: rgba(46, 45, 45, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);

}
/* top input field */
.calOutputField {
    border-radius: 16px 16px 0 0;
    font-size: 1.5rem;
    font-weight: bolder;

}
/* botto, display field */
.displayField{
    border-radius: 0 0 0 0;
    font-weight: bold;

}

/* table container */
.butt_Container {
    width: 100%;
    height: 100%;

}

/* table styling */
.butt_Table {
    width: 100%;
    height: 100%;
    background: rgba(46, 45, 45, 0.1);
    border-radius: 0 0 16px 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);

}

.button_Box {
    border: 1px solid rgba(63, 1, 1, 0.151);
    width: 25%;
}
.button_Box:hover {
    -webkit-transition: 0.2s;
	transition: 0.1s;
	background: rgba(255, 255, 255, 0.247);
    border-radius: 16px;

}